{% extends 'base/base.html' %}
{% block content %}
<section class="section section--flex">
    <div class="intro">
        <h1 class="title">Nekonotes</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nisi aspernatur 
            accusantium doloremque harum odit quibusdam explicabo aliquid? 
            Rerum tempora molestias ut perferendis iure repellendus maxime nisi ipsum. Officia, 
            necessitatibus?
        </p>
    </div>
    <div class="">
        {% include 'authentication/login_form.html' with signup_form=signup_form %}
    </div>

</section>
{% endblock content %}

