<!DOCTYPE html>
{% load static %}
{% load sass_tags %}
{% load compress %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

    <link href="{% static 'css/style.css' %}" rel="'stylesheet">
    {% compress css %}
    <link rel="stylesheet" href="{% sass_src 'scss/main.scss' %}">
    {% endcompress %}
    {% if user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'css/users_settings/users/' %}{{ user.id }}.css">
    {% endif %}

    <script src="{% static 'js/main.js' %}" type="module" defer></script>
    <title>{% block title %}NekoNotes{% endblock title %}</title>
</head>
<body >
    <header class="header">
        <nav class="navBar">
            <div class="navBar navBar--iconTitle">
                <img class="mainIcon" src="{% static 'images/icons/logo_transparent.png' %}"  al="logo">
                <a href="{% url 'welcome' %}" class="title title--navbar">Nekonotes</a>
            </div>
            {% if user.is_authenticated %}

            {% endif %}
            {% block navbar %}
            <!-- Login Button on WelcomePage -->
            {% endblock navbar %}
        </nav>

    </header>
        {% block content %}

        <!--Content of specifique page-->
    
        {% endblock content %}
        <a href="{% url 'logout' %}">Logout</a>
    <footer>

    </footer>
    {% block script%}
    
    <!-- Page's specialy scripts -->

    {% endblock script %}
    
</body>
</html>