<div class="widget todoList">
    <div class="widget--header">
        <input type="text" class="widget--title" value="{{ widget.title }}" title="Click to edit title" />
        <button class="widget--addTask" title="Add New Task">+</button>
    </div>
     {% if widget.tasks.all != 0 %}
        {% for task in widget.tasks.all %}
            <div class="task {% if task.completed %}completed{% else %}pending{% endif %}">
                <input id="checkox_{{ task.id}}" type="checkbox" class="taskCheckbox" {% if task.completed %}checked{% endif %}>
                <span class="taskTitle">{{ task.title }}</span>
            </div>
        {% endfor %}

    {% endif %}
    <div class="progressBar">
        <div></div>
    </div>
</div>
{% block script %}
<script>

    // CHANGE TASK CLASS CSS

    document.addEventListener("DOMContentLoaded", function(){
        const checkboxs = document.querySelectorAll('.taskCheckbox');

        checkboxs.forEach(function(checkbox){
            checkbox.addEventListener('click', function(event) {
                const taskDiv = event.target.parentElement;
                console.log(taskDiv)
                if (taskDiv) {
                    if (event.target.checked) {
                        taskDiv.classList.remove('pending');
                        taskDiv.classList.add('completed');

                    }else {
                        taskDiv.classList.remove('completed');
                        taskDiv.classList.add('pending');
                    }
                }else{
                    console.log("'element task non trouvé")
                }
            })
        })

        //UPDATE TITLE 

        document.querySelectorAll('.widget--title').forEach(input => {
        input.addEventListener('blur', function() {
            const newTitle = this.value; // Récupère la nouvelle valeur du titre
            console.log('{{widget.id}}')
            const widgetId = '{{ widget.id }}'; // Si tu as un ID unique pour chaque widget

            // Envoie la nouvelle valeur à Django pour la mettre à jour dans la base de données
            fetch('{% url "udpate_widget_title" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' // CSRF token pour sécuriser la requête
                },
                body: JSON.stringify({
                    widget_id: widgetId,
                    new_title: newTitle
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    console.log('Titre mis à jour avec succès');
                } else {
                    console.error('Erreur lors de la mise à jour du titre');
                }
            })
            .catch(error => console.error('Erreur AJAX :', error));
        });
    });



})

</script>
{% endblock script %}