<form class="form" method="post">
    {% csrf_token %}
    <div class="form--field">
        {{ signup_form.email }}
        {% for error in signup_form.email.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form--field">
        {{ signup_form.username }}
        {% for error in signup_form.username.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form--field">
        {{ signup_form.password1 }}
        {% for error in signup_form.password1.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    <div class="form--field">
        {{ signup_form.password2 }}
        {% for error in signup_form.password2.errors %}
            <div class="error">{{ error }}</div>
        {% endfor %}
    </div>
    <button class="formBtn" type="submit" name="signup_form">SignUp</button>
</form>

{% if messages %}
    {% for message in messages %}
        <div class="message">{{ message }}</div>
    {% endfor %}
{% endif %}


