@import '../variables.scss';


.dashboardContent {
    display: flex;
    flex-direction: row;
}
.toolBar {
    margin-top: $m_1;
    border-top:1px solid #ccc;
    width:  200px;
    height: 100vh;
}



#dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    background-color: $dashboard_background;
    margin-top: $m_1;
    padding: $p_1;
    width: 170vh;
    height: 80vh;
    max-width: 100%; /* Largeur maximale du dashboard */
    max-height: 100%; /* Hauteur maximale du dashboard */
    border: 1px solid #ccc;

    /* Permettre le défilement à l'intérieur */
    overflow: auto; /* Si le contenu dépasse la taille du dashboard, il sera possible de défiler */
}






