@import '../variables.scss';


.dashboardContent {
    display: flex;
    flex-direction: row;
}

#dashboard {
    display: flex;
    flex-wrap: wrap;
    padding: $p_1;
    padding-top: 20px;
    padding-bottom: 50px ;
    width: 100%;
    height: 96vh;
    max-width: 100%; /* Largeur maximale du dashboard */
    max-height: 100%; /* Hauteur maximale du dashboard */
    
    /* Permettre le défilement à l'intérieur */
    overflow: auto; /* Si le contenu dépasse la taille du dashboard, il sera possible de défiler */
}






