<!-- Menu déroulant présent dans le tool menu Bar -->

<div class="menu-container">
    <ul class="menu">
        <li>
            <a href="#" class="menu-item">Widgets</a>
            <ul class="submenu">
                <li><a href="#" class="widget-link">Simple Todo List</a></li>
                <li><a href="#" class="widget-link">Développement</a></li>
            </ul>
        </li>
        <li><a href="#" class="menu-item">À propos</a></li>
        <li><a href="#" class="menu-item">Contact</a></li>
    </ul>
</div>

<!-- Ajouter le token CSRF une seule fois en haut de la page -->
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

{% block script %}
{% endblock script %}