
// Colors

$bg_primary_color : #FFF4EC;
$title_primary_color : #5387B7;
$shadow_primary_color : #325a7e; 

// Margin

$m_1 : 20px;


// Padding

$p_1 : 15px;
$p_input : 10px;
$p_button: 8px 36px;



// Border radisu

$border-radius_btn : 14px;
$radius_input: 10px;


// form layout
$form-padding: 20px;
$border-radius: 12px;
$shadow-color: rgba(0, 0, 0, 0.1);